body {
  margin: 0;
  font-family: sans-serif;
  background: #100820;
  color: white;
}

#stage {
  width: 250px;
  height: 380px;
  position: relative;
}

#charLayers img {
  position: absolute;
  width: 100%;
}

#wardrobe {
  margin-top: 20px;
}
