body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.character {
  position: relative;
  width: 150px;
  margin: 20px auto;
}

.character img {
  position: absolute;
  width: 150px;
  left: 0;
}

.controls button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}